<!DOCTYPE html>

<%provide(:title,"About") %>

<title><%=yield(:title)%></title>

<center>
<br><br><br><br>
<h1> I am learning about you.. </h1> <br><br>
<h1>Will come to you SOOON ... </h1>

</center>
