<!DOCTYPE html>

<head>
<%provide(:title,"Contact") %>
	<title><%=full_title(yield(:title))%></title>
</head>
<body>
<center>
<BR><BR><BR><BR><BR>
<h1> THIS PAGE IS UNDER CONSTRUCTION.. </h1>
<BR>
<H1> WILL REACH YOU SOON</H1>
<br>
<h3><a href="/">Home </a></h3>
</center>
</body>
</html>