<!DOCTYPE html>
<html>
<%provide(:title,"Help")%>
<head>
	<title>
		<%=yield(:title)%>
	</title>
	<center>
	<br><br><br><br>
	<h1>are you in TROUBLE? </h1>
	</center>
</head>
<body>
<center>
<a href="https://www.google.co.jp/?gfe_rd=cr&dcr=0&ei=f5uvWfbHO6T98AfZsamwBg">Click here for help</a>
</center>
</body>
</html>