<!DOCTYPE html>
<head>
<%provide(:title,"Register")%>
<title><%=full_title(yield(:title))%></title>
</head>
<body >

</div>
<div class="center jumbotron" class="body">
<h1>Register PJDesigns </h1>
</div>


</body>
</html>